<%- include("./layout/header.ejs")  %> 
    <main>
        <h1>Sharif Md. Minhazur Rahman Rabbi</h1>
        <p><i class="fas fa-house-user"></i> Mathbaria, Pirojpur, Borishal.</p>
        <p><i class="fas fa-trophy"></i> 0 achievement</p>
    </main>
    <%- include("./layout/footer.ejs") %> 
